:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
body {
  font-family: var(--primary-font), var(--secondary-font), sans-serif;
  color: var(--primary-text-color);
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}
/*======header style starts===*/
/*======flex-container====*/

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-section {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
/*logo*/
.site-logo,
.site-logo:hover,
.site-logo:visited {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-style {
  color: #2196f3;
}
/*navigation*/
.nav-bar {
  display: flex;

  align-items: center;
  margin-top: 0;
  padding-top: 0;
}
.nav-links {
  display: flex;
}
.nav-ithem {
  position: relative;
}

.nav-ithem:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:visited {
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.active-page {
  position: relative;
  color: var(--accent-color);
}

.active-page:hover,
.active-page:visited {
  color: var(--accent-color);
}
.active-page::after {
  content: '';
  position: absolute;
  right: 0%;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  color: #2196f3;
  border-radius: 2px;
}
.conact-box {
  display: flex;
  margin-left: auto;
}
.contact-link:not(:last-child) {
  margin-right: 50px;
}

.contact-ithem {
  display: flex;
  margin: 0px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header {
  fill: currentColor;
  max-width: 16px;
  max-height: 12px;
  margin-right: 10px;
}

.icon-phone {
  max-width: 10px;
  max-height: 16px;
}
.contact-ithem:hover,
.contact-ithem:focus,
.icon-header:hover,
.icon-header:focus,
.icon-header-phone:hover,
.icon-header-phone:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
/*======header style ends===*/
/*======main section style starts===*/
/*hero*/
.hero-container {
  background: #2f303a;
  padding: 200px 0;
}
.overlay {
  max-height: 600px;
  max-width: 1600px;
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
/*button*/
.btn-active {
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.feature-container {
  padding-top: 94px;
}
.feature-list {
  display: flex;
}
.feature-ithem {
  width: 270px;
}
.feature-ithem:not(:last-child) {
  margin-right: 30px;
}
.feature-icon {
  background-color: #f5f4fa;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*Practice*/
.practice-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.practice-container .container {
  flex-direction: column;
}
.practice-list {
  display: flex;
}
.practice-link:not(:last-child) {
  margin-right: 30px;
}
.practice-box {
  position: relative;
}
.label-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
}
.label-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/*Team section*/
.company-desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-section {
  background-color: #f5f4fa;
  flex-direction: column;
  /*margin-top: 154px;*/
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.team-link {
  background-color: #fff;
  text-align: center;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-link:not(:last-child) {
  margin-right: 30px;
}
.team-decribe {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  /* text-align: center;*/
  letter-spacing: 0.03em;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  color: var(--secondary-text-color);
  /*text-align: center;*/
  letter-spacing: 0.03em;
}
.team-neworks {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.team-neworks-ithem:not(:last-child) {
  margin-right: 10px;
}
.team-net-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  padding: 12px;
  color: rgba(175, 177, 184, 1);
  background-color: #fff;
  border-radius: 50%;
  scale: 1;

  transition-property: color, background-color, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-network-icon {
  fill: currentColor;
  height: 20px;
  width: 20px;
}
.team-net-link:hover,
.team-net-link:focus {
  color: #fff;
  background-color: var(--accent-color);
  transform: scale(1.2);
}

/*======Our Clients====*/
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-ithems {
  display: flex;
  justify-content: space-between;
}
.client-ithem {
  height: 92px;
  width: 170px;
}
.client-ithem:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
  height: 60px;
  width: 106px;
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/*======main section style ends===*/
/*======footer style starts===*/
.footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer-section:not(:last-child) {
  margin-right: 70px;
}

.site-logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #ffffff;
}
/*button*/
.site-logo-footer:focus,
.site-logo-footer:hover,
.site-logo-footer:visited {
  color: #ffffff;
}
.adress {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
/*adresses for footer*/
.contact-ithem:not(:last-child) {
  margin-bottom: 9px;
}
.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer:focus,
.contact-footer:hover,
.contact-footer:visited {
  color: rgba(255, 255, 255, 0.6);
}
.invitation {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.networks-list {
  display: flex;
}
.networks-ithem:not(:last-child) {
  margin-right: 10px;
}
.net-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  color: #fff;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  scale: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);

  transition-property: background-color, box-shadow, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.net-link:hover,
.net-link:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.2);
}
.twit {
  background-color: var(--accent-color);
}
.footer-section.mail {
}
.mailing {
  display: flex;
}
input[name='subscribe-mail'] {
  padding: 15px 16px 15px;
  height: 50px;
  width: 360px;
  background-color: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
input[name='subscribe-mail']:focus {
  cursor: auto;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
.subscribe-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 200px;*/
  margin-left: 12px;
  padding: 10px 29px;

  color: #fff;
  outline: none;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-footer:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
.subscribe-footer::after {
  display: block;
  content: '';
  margin-left: 10px;

  background-image: url('../images/icon-send.svg');
  background-size: contain;
  width: 24px;
  height: 24px;
}

/*======footer style ends===*/

/*=====Portfolio starts====*/

.works-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*buttons*/

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-work {
  cursor: pointer;
  border-color: transparent;
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-ithem:not(:last-child) {
  margin-right: 8px;
}

.button-work:focus,
.button-work:hover {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*our results*/

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
}
.work-ithem {
  width: 370px;
  /* border: 1px solid rgba(238, 238, 238, 1);*/
}
/*.work-ithem:focus,
.work-ithem:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}*/
.work-link {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--primary-text-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-thumb {
  position: relative;
  overflow: hidden;
}
.work-decription {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);

  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.work-box {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}
.work-ithem:not(:nth-last-child(3n + 1)) {
  margin-right: 30px;
}
.work-ithem:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.work-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.work-product {
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-link:hover .work-decription {
  transform: translateY(0%);
}
/*=====Portfolio ends====*/
/*=====Modal-window======*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cross {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  /*width: 30px;
  height: 30px;*/
  padding: 6px 6px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-text-color);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cross-btn {
  display: block;
  fill: currentColor;
  max-height: 18px;
  max-width: 18px;
}

.cross:hover,
.cross:focus {
  color: var(--accent-color);
  outline: none;
}
.modal-invite {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: #212121;
}
.modal-form {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.modalform-ithem {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.modalform-ithem:nth-child(4) {
  margin-bottom: 20px;
}

.modal-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 50px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  cursor: pointer;
  border: 1px solid var(--accent-color);
  outline: none;
}
.comment {
  height: auto;
  padding: 0;
  resize: none;
}

.forms-ithems {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
.forms-checkbox > .forms-ithems {
  font-size: 14px;
  margin-bottom: 0;
}
.icon-invite {
  position: absolute;
  bottom: 11px;
  left: 12px;

  width: 18px;
  height: 18px;

  fill: currentColor;
  background-size: contain;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modalform-ithem:focus-within > .icon-invite {
  fill: var(--accent-color);
}

input[type='checkbox'] {
  border: 0;
  appearance: none;
}

.terms {
  text-decoration: underline;
  color: var(--accent-color);
  /*border-bottom: 1px solid var(--accent-color);*/
}

.forms-checkbox {
  position: relative;
  /*margin-top: 20px;*/
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;

  color: var(--primary-text-color);

  appearance: none;
}
.check-box {
  display: block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  background-size: contain;
  fill: var(--primary-text-color);
  cursor: pointer;

  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + .check-box {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-image: url('../images/full-check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;

  fill: #fff;
}
input[type='checkbox']:focus + .check-box {
  border-color: var(--accent-color);
}
.btn-send {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  margin-top: 30px;
  color: #fff;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-send:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-footer + span {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;
}
